/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    padding-top: 56px; /* Adjust to match the navbar height */
}


/* Navbar Section */
.navbar .social-icon {
    width: 30px;
    height: 30px;
}

/* About Section */
#about h2 {
    color: #050a30;
    margin-bottom: 20px;
}

#about img {
    max-width: 200px;
}

#about {
    background-color: rgb(249, 249, 249);
}

#about p {
    color: #000;
}

#about h1 {
    color: #050a30;
}

/* Education Section */
#education {
    background-color: #050a30;
}

#education h2 {
    color: #ccd3db;
    margin-bottom: 20px;
}

#education p {
    color: #ccd3db;
}

#education .timeline-item {
    position: relative;
    margin-bottom: 2rem;
    padding-left: 2rem;
    border-left: 5px solid #ccd3db;
}

#education .timeline-item h4 {
    margin-bottom: 0.5rem;
    color: #ccd3db;
}

/* Skills Section */
#skills h2 {
    color: #050a30;
}

#skills {
    background-color: rgb(249, 249, 249);
}

i {
    margin-bottom: 0.5rem;
    color: #000;
}

img {
    margin-bottom: 0.5rem;
}

#skills p {
    font-size: 1.3rem;
}
  
.skills-icon {
    width: 5rem; /* Match the icon size */
    height: 5rem; /* Keep it proportional */
    display: inline-block; /* Align with icons */
}

/* Certificates Section */
#certificates {
    background-color: #050a30;
}

#certificates h2 {
    color: #ccd3db;
    margin-bottom: 20px;
}

#certificates p {
    color: #ccd3db;
}

#certificates h5 {
    color: #ccd3db;
}

#certificates .timeline {
    position: relative;
    padding: 2rem 0;
}

#certificates .timeline-item {
    position: relative;
    margin-bottom: 2rem;
    padding-left: 2rem;
    border-left: 5px solid #ccd3db;
}

#certificates .timeline-item h4 {
    margin-bottom: 0.5rem;
    color: #ccd3db;
}

/* projects Section */
#projects {
    background-color: rgb(249, 249, 249);
}

#projects h2 {
    color: #050a30;
    margin-bottom: 20px;
}

#projects p {
    color: #050a30;
}

#projects .timeline {
    position: relative;
    padding: 2rem 0;
}

#projects .timeline-item {
    position: relative;
    margin-bottom: 2rem;
    padding-left: 2rem;
    border-left: 5px solid #050a30;
}

#projects .timeline-item h4 {
    margin-bottom: 0.5rem;
    color: #050a30;
}

/* Footer Section */
.footer {
    background-color: #282c34;
    color: #fff;
    padding: 50px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}

.social-icons a {
    margin-right: 15px;
    color: #fff;
}

.social-icons i {
    font-size: 24px; /* Medium size */
    color: #ccd3db; /* Default LinkedIn blue */
    margin: 10px; /* Spacing between icons */
    transition: color 0.3s; /* Smooth color change on hover */
}

.social-icons i:hover {
    color: #050a30; /* Hover color (orange) */
}

.custom-logo {
    width: 500px; /* Previous logo size */
    max-width: 100%; /* Ensures responsiveness */
    height: auto; /* Maintain aspect ratio */
}

.contact-icons i {
    color: #ccd3db;
    margin-right: 10px;
}

